body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav a, .dropbtn {
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a:hover, .dropbtn:hover {
    background-color: #4CAF50;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    top: 100%;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #4CAF50;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section {
    margin-bottom: 2rem;
}

section h2 {
    color: #4CAF50;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#language-switcher {
    position: absolute;
    top: 10px;
    right: 10px;
}

.language-select {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.language-switcher {
    position: absolute;
    top: 10px;
    right: 10px;
}

.language-icon {
    width: 30px;
    margin: 0 5px;
    cursor: pointer;
}

@media (max-width: 600px) {
    nav {
        display: block;
    }
    nav a {
        display: block;
        margin: 5px 0;
    }
}