body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
}

nav a, .dropbtn {
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a:hover, .dropbtn:hover {
    background-color: #4CAF50;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    top: 100%;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #4CAF50;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    background-color: white;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #4CAF50;
    margin-top: 0;
    font-size: 2rem;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 0.5rem;
}

section p {
    line-height: 1.6;
}

.content-section {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 15px;
    margin-bottom: 20px;
}

.image-container {
    flex: 1;
    text-align: center;
}

.image-container img {
    width: 80%;
    max-width: 300px;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.text-container {
    flex: 2;
    padding: 20px;
}

.text-container h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.text-container p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.read-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.read-more-btn:hover {
    background-color: #f7a600;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.more-content {
    margin-top: 1rem;
    display: none;
}

#language-switcher {
    position: absolute;
    top: 10px;
    right: 10px;
}

.language-select {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.language-switcher {
    position: absolute;
    top: 10px;
    right: 10px;
}

.language-icon {
    width: 30px;
    margin: 0 5px;
    cursor: pointer;
}

/* Hamburger Menu */
.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 50%; /* Umieszcza hamburger w połowie szerokości ekranu */
    transform: translateX(-50%); /* Wyrównuje hamburger na środku */
    z-index: 1001; /* Nad nawigacją */
}


.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
}

/* Nawigacja mobilna */
#desktop-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333;
    width: 100%;
    position: fixed; /* Ustawiono jako fixed */
    top: 90px; /* Zwiększony odstęp od nagłówka */
    left: 0;
    z-index: 999; /* Pod nagłówkiem */
}

#desktop-nav.show {
    display: flex;
}

#desktop-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 20px;
}

#desktop-nav ul li {
    margin: 0 15px;
    border-bottom: 1px solid #444;
}

#desktop-nav ul li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

/* Stylizacja dla większych ekranów */
@media (min-width: 769px) {
    #desktop-nav {
        display: flex; /* Upewniamy się, że menu jest widoczne na dużych ekranach */
        position: relative; /* Ustawienie relative, aby menu było umieszczone w normalnym przepływie dokumentu */
        top: 0px;
        z-index: 998; /* Pod nagłówkiem */
        width: 100%;
        background-color: #333; /* Upewniamy się, że tło jest odpowiednio ustawione */
    }

    #desktop-nav ul {
        display: flex; /* Ustawienie elastycznego kontenera, aby elementy `li` były obok siebie */
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #desktop-nav ul li {
        margin: 0 15px; /* Dodanie marginesów między elementami `li` */
    }

    #desktop-nav ul li a {
        display: block;
        color: white;
        text-align: center;
        padding: 10px 12px;
        text-decoration: none;
    }

    .hamburger {
        display: none; /* Ukrywamy hamburger na dużych ekranach */
    }
}

/* Stylizacja dla tabletów */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    .container {
        padding: 1.5rem;
    }

    section {
        padding: 1.5rem;
    }

    section h2 {
        font-size: 1.75rem;
    }

    .language-icon {
        width: 25px; /* Dostosowanie rozmiaru flagi na tabletach */
    }

    .hamburger {
        display: flex; /* Upewniamy się, że hamburger jest widoczny w wersji mobilnej */
    }

    #desktop-nav {
        display: none; /* Ukrycie nawigacji na mobilnych */
    }
}

/* Stylizacja dla telefonów */
@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    .container {
        padding: 1rem;
    }

    section {
        padding: 1rem;
    }

    section h2 {
        font-size: 1.5rem;
    }

    .language-icon {
        width: 20px; /* Dostosowanie rozmiaru flagi na mniejszych ekranach */
    }

    #desktop-nav {
        flex-direction: column;
        align-items: center;
    }

    #desktop-nav ul {
        flex-direction: column;
        align-items: center;
    }

    #desktop-nav ul li {
        margin: 10px 0;
    }

}