body, html {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, nav, .container, footer {
    flex: 0 0 auto;
}

.container {
    flex: 1 0 auto;
    width: 80%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

.transport {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Dodatkowa przestrzeń między elementami */
}

.transport-item {
    flex: 1 0 calc(25% - 20px); /* Cztery elementy w rzędzie z przestrzenią */
    margin: 10px 0;
    box-sizing: border-box;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.transport-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    flex-shrink: 0;
    width: 100%;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .transport-item {
        flex: 1 0 calc(50% - 20px); /* Dwa elementy w rzędzie na mniejszych ekranach */
    }
}

@media (max-width: 480px) {
    .transport-item {
        flex: 1 0 100%; /* Jeden element na pełnej szerokości na najmniejszych ekranach */
    }
}
