body, html {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Zapewnia pełną wysokość strony */
}

header, nav, .container {
    flex: 0 0 auto;
}

.container {
    flex: 1 0 auto; /* Zapewnia elastyczność dla głównej zawartości */
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.image-item {
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.image-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.image-item p {
    margin-top: 10px;
    color: #4CAF50;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; /* Ustawia stopkę na dole */
    width: 100%;
}

@media (max-width: 768px) {
    .image-item {
        flex: 1 1 calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .image-item {
        flex: 1 1 100%;
    }
}
