body, html {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    background: #333; /* Ciemny pasek */
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px; /* Dodanie odstępów między linkami */
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white; /* Kolor tekstu na biały */
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px; /* Dodanie odstępów wewnętrznych do linków */
    transition: background 0.3s ease; /* Dodanie płynnej zmiany koloru tła przy najechaniu */
}

nav ul li a:hover {
    background: #555; /* Kolor tła przy najechaniu */
}

.container {
    flex: 1; /* Zapewnia elastyczność dla głównej zawartości */
    width: 80%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: white; /* Biały kolor tekstu */
    background: #4CAF50; /* Tło w kolorze zielonym */
    padding: 10px; /* Dodanie paddingu dla lepszego wyglądu */
    margin: 0; /* Usuń margines */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.image-item {
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.image-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.image-item p {
    margin-top: 10px;
    color: #4CAF50;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; /* Ustawia stopkę na dole */
    width: 100%;
}

@media (max-width: 768px) {
    .image-item {
        flex: 1 1 calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .image-item {
        flex: 1 1 100%;
    }
}
